/* Все */
body {
  background-color: aliceblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
section {
  text-align: center;
  margin: 40px 0;
}
h2 {
  color: goldenrod;
  font-size: 2.25rem;
}
h3 {
  font-size: 1.6rem;
}
p {
  font-size: 1.5rem;
}
li {
  list-style: none;
}

/* header, footer */
header {
  margin-bottom: 30px;
}
header,
footer {
  background-color: lightgrey;
  height: 70px;
}
header img,
footer img {
  margin-top: 12px;
  width: 200px;
  height: 50px;
}
header ul,
footer ul {
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 200px;
  bottom: 50px;
  margin-right: 200px;
  font-size: 16px;
}
/* main */
.slog,
.iwant {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 0;
}
.отзывы {
  padding-bottom: 15px;
  font-size: 1.5rem;
}

.images,
.images2 {
  display: flex;
  justify-content: space-between;
}
.images img,
.images2 img {
  flex: 1 1 400px;
  min-width: 0;
  flex-shrink: 1;
}
.images img {
  margin: 0 1%;
}
.images2 img {
  margin: 0 3%;
}

.iwant {
  font-size: 25px;
  margin: 10px 0;
}

@media screen and (max-width: 1048px) {
  html {
    font-size: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  header ul,
  footer ul {
    display: block;
    top: -70px;
    left: 40%;
  }
  .images,
  .images2 {
    display: block;
  }
  .images img,
  .images2 img {
    width: 100%;
    flex-wrap: wrap;
    margin: 2% 0;
  }
}
@media screen and (max-width: 400px) {
  .logo {
    position: relative;
    left: 20%;
  }
  header ul,
  footer ul {
    display: none;
  }
}
